.gentle-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
  }

.container{
  margin-top: 40px;
}

body{
  background-color: #e0fcff;
}

.card-body-login{
  width: 350px;
  box-shadow: 0px 0px 5px 1px black;
}

.submit{
  margin-top: 15px;
}

.btn-largo{
  width: 100%;
}

.card-paciente{
  width: 500px;
}

.submit{
  display:flex;
  float: right;
}

/* CSS Farmaco */

.farmaco tbody tr{
  background-color: #bbe1fa !important;
}

.tableFarma{
  width: 100%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}