
.gentle-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
  }

.container{
  margin-top: 80px;
}

body{
  background-color: #e0fcff;

  
}

.card-body-login{
  width: 350px;
  box-shadow: 0px 0px 5px 1px black;
}

.submit{
  margin-top: 15px;
}

.btn-largo{
  width: 100%;
}

.card-paciente{
  width: 500px;
}

.submit{
  display:flex;
  float: right;
}

.table_services{
 
  margin:auto;
  margin-top: 5%;
  



}

.tds{
  width: 150px;
}

.btns_s{
  width: 45px;
}

.sizemodalservice.open {
  width: 100%;
  max-height: 100%;
  height: 100%;
  top: 0 !important;
}

.table_faculta{
  margin:auto;
  margin-top: 5%;
  
  }
  
.tds2{
  width: 120px;
  height: 75px;
}

