.gentle-flex {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
  }

body{
      background-color: #e0fcff;
}
  
.container{
    margin-top: 100px;
}

.card{
    width: 500px;
}